.title {
    width: 100%;
    text-align: center;
    margin-bottom:4vh ;
    padding: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 5vh;
}

.title h1 {
    font-size: 4rem;
}
.title p{
    width: 40%;
}

.contactMeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;

}

.contactMeItem {
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchComponentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchBar {
    height: 50px;
    width: 90%;
    border-radius: 10px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;


}
.searchBarInput{
    width: 100%;
    background-color: inherit;
    outline: none;
    border: none;
}
.searchBarInput::placeholder{
    color: white;
}
@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
        width: 100%;
        margin-bottom:4vh ;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    .SearchBar {
        flex-direction: column;
        gap: 10px;
    }

    .title h1 {
        font-size: 2rem;
    }
    .title p{
        width: 100%;
    }
}